In [2]:
import numpy as np
import pandas as pd

# Object creation

In [5]:
# Creating a Series by passing a list of values
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [24]:
# Creating a DataFrame by passing a NumPy array
dates = pd.date_range('20130101', periods=6, freq='2D')

In [19]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [26]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [27]:
df

                   A         B         C         D
2013-01-01  0.469932 -0.084346  0.374572 -0.998942
2013-01-03 -1.168875 -0.817867 -0.662987  1.605876
2013-01-05 -0.258329  2.942801 -0.432976  0.355170
2013-01-07  0.693717 -0.600384  1.497188 -1.736520
2013-01-09  1.589265  0.105157  0.351331 -0.440346
2013-01-11 -0.296189  0.488255 -0.609173  1.121370